*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Nunito',sans-serif;
}

body{
min-height:100vh;
background: linear-gradient(
135deg,
#fff1f2,
#ffe4e6,
#fde2d2
);

overflow-x:hidden;
overflow-y:auto;

display:flex;
justify-content:center;
align-items:flex-start;
padding:20px 0;
}

.container{
width:100%;
display:flex;
justify-content:center;
}

.card{
display:none;

width:90%;
max-width:650px;

padding:40px;

background:rgba(255,255,255,.75);

backdrop-filter:blur(20px);

border-radius:30px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.1);
}

.active{
display:block;
}

h1{
margin-bottom:20px;
color:#d46b8f;
}

p{
margin-bottom:25px;
}

button{
cursor:pointer;
border:none;

padding:14px 30px;

border-radius:50px;

background:#f6a5c0;

color:white;

font-size:18px;
}

button:hover{
transform:scale(1.05);
}

.buttons{
position:relative;
height:150px;
}

.no{
position:absolute;
background:#d7c5bc;
}

.yes{
margin-right:20px;
}

.bear{
width:180px;
margin-bottom:20px;
}

.photo{
width:180px;
height:180px;
object-fit:cover;

border-radius:50%;

margin-bottom:25px;
}

.places{
display:grid;

grid-template-columns:
repeat(auto-fit,minmax(140px,1fr));

gap:15px;
}

.place{
background:white;
padding:25px;
border-radius:20px;
cursor:pointer;
font-size:40px;
transition:.3s;
}

.place span{
display:block;
font-size:16px;
margin-top:10px;
}

.place:hover{
transform:
translateY(-8px)
scale(1.03);
}

input{
width:100%;
padding:15px;

margin-bottom:15px;

border:none;

border-radius:15px;
}

.big-heart{
font-size:80px;
margin-bottom:15px;
}

.hug{
font-size:30px;
margin-top:20px;
}

.heart{
position:fixed;
font-size:20px;
pointer-events:none;
animation:float 8s linear infinite;
}

@keyframes float{
from{
transform:translateY(100vh);
opacity:0;
}
to{
transform:translateY(-100px);
opacity:1;
}
}
@media (max-width: 768px){

.card{
    width:95%;
    padding:25px;
}

h1{
    font-size:1.5rem;
}

.photo{
    width:140px;
    height:140px;
}

.places{
    grid-template-columns: 1fr 1fr;
}

button{
    width:100%;
    margin-top:10px;
}

.buttons{
    height:220px;
}
}